/* Custom properties */
:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  /* display: block; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Utility Classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: -1rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* components */
.large-button {
  display: inline-grid;
  margin-top: 2rem;
  padding: 0 2em;
  aspect-ratio: 1;
  place-items: center;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-size: 2rem;
}

.large-button::after {
  content: "";
  position: absolute;
  background: hsl(var(--clr-white) / 0.15);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: -1;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  transform: scale(1.5);
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 55px);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(2rem, 5vw, 3.5rem);
  list-style: none;
  padding-inline: 2rem;
  margin: 0;
  --underline-gap: 1.5rem;
  background: hsl(var(--clr-white) / 0.95);
  backdrop-filter: blur(1.5rem);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0);
}

@media (max-width: 35rem) {
  .primary-navigation {
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    --underline-gap: 0.5rem;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.9999em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -2rem;
    background: hsl(var(--clr-white) / 0.25);
    order: 1;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
  }
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 0.5em;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

.numberedTitle-indicators > * {
  cursor: pointer;
  border: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  place-items: center;
  background-color: hsl(var(--clr-white));
}

.numberedTitle-indicators [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}

.numberedTitle-indicators [aria-selected="false"] {
  background-color: hsl(var(--clr-dark));
  border: 1px solid hsl(var(--clr-white));
  color: hsl(var(--clr-white));
}

.numberedTitle-indicators > *:hover,
.numberedTitle-indicators > *:focus {
  border-width: 2px;
}

/* page specific background */
body {
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: bottom center;
}

/* home */
.home {
  background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .home {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }
}

/* destination */
.destination {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
  .destination {
    background-position: center center;
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }
}

/* crew */
.crew {
  background-image: url(./assets/home/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
  .crew {
    background-position: center center;
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }
}

/* layout */

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.grid-container p:not([class]) {
  max-width: 50ch;
}

.numbered-title {
  grid-area: title;
}

/* destination layout */

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--destination > picture {
  grid-area: image;
  max-width: 60%;
  align-self: start;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destination-meta {
  font-size: 1.75rem;
}

/* Crew layout */

.grid-container--crew {
  padding-bottom: 0px;
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--crew > picture {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
}

.grid-container--crew > .dot-indicators {
  grid-area: tabs;
}

.grid-container--crew > .crew-details {
  grid-area: content;
}

/* Technology Layout */
.technology{
  background-image: url(assets/technology/background-technology-mobile.jpg);
}

.grid-container--technology{
  padding-bottom: 5rem;
  place-items: center;
  grid-template-areas:
        "title"
        "image"
        "numberedTitle"
        "article";
}

.grid-container--technology picture{
  grid-area: image;
  max-width: 100%;
}

.grid-container--technology picture .image2{
  display: none;
}

.grid-container--technology > h1{
  grid-area: title;
}

.grid-container--technology .numberedTitle-indicators{
  grid-area: numberedTitle;
  max-width: fit-content;
}



.grid-container--technology article{
  grid-area: article;
  text-align: center;
  max-width: 80%;
}

.grid-container--technology article p{
  height: 7rem;
}

.crew-details h2 {
  opacity: 0.5;
}

@media (min-width: 35em) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .grid-container--crew {
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
  }
}

@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
  }

  .grid-container--home > *:first-child {
    grid-column: 2;
  }

  .grid-container--home > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }

  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
  }

  .grid-container--destination > picture {
    max-width: 90%;
  }

  .destination-meta {
    justify-content: start;
    --gap: min(5vw, 6rem);
  }

  .grid-container--crew {
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". tabs image .";
  }

  .grid-container--crew > .dot-indicators {
    justify-self: start;
  }
  .grid-container--crew > .dot-indicators {
    justify-self: start;
  }

  .grid-container--crew {
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(
        1rem,
        1fr
      );
    justify-items: start;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". tabs image .";
  }

  .grid-container--crew > picture {
    grid-column: span 2;
    align-self: end;
    max-width: 90%;
  }

}


@media(min-width:35em){
  .technology{
    background-image: url(assets/technology/background-technology-tablet.jpg);
  }

  .grid-container--technology .numbered-title{
    padding-left: 3rem;
  }
  
  .grid-container--technology{
    padding-bottom: 5rem;
    place-items: center;
    grid-template-areas:
          "title"
          "image"
          "numberedTitle"
          "article";
  }
  
  .grid-container--technology picture{
    grid-area: image;
    max-width: 100%;
  }
  
  .grid-container--technology picture .image2{
    display: none;
  }
  
  .grid-container--technology > h1{
    grid-area: title;
  }
  
  .grid-container--technology .numberedTitle-indicators{
    grid-area: numberedTitle;
    max-width: fit-content;
  }
  
  .grid-container--technology article{
    grid-area: article;
    text-align: center;
    max-width: 80%;
  }
  
  .grid-container--technology article p{
    height: 7rem;
  }
}



@media(min-width: 45em){
  .technology{
    background-image: url(assets/technology/background-technology-desktop.jpg);
  }

  .grid-container--tech {
    text-align: left;
    grid-template-columns: minmax(1rem, 1fr)  minmax(0, 5rem)  minmax(0, 50rem) minmax(
        1rem,
        1fr
      );
  }

   .numberedTitle-indicators{
    flex-direction: column;
  }

  .grid-container--technology{
  padding-bottom: 5rem;
  grid-template-areas:
        ". title title ."
        ". numberedTitle article ."
        ". numberedTitle article .";

  }

  .grid-container--tech .numberedTitle-indicators{
    justify-self: start;
  }

  .grid-container--tech > article{
    justify-self: start;
    max-width: 30rem;
    text-align: left;
  }

  .grid-container--technology picture .image1{
    display: none;
  }

  .grid-container--technology picture .image2{
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
 

  .grid-container--tech picture{
    position: absolute;
    right: 0;
    top: 10rem;
    height: 20rem;
   }
}
